body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.date-box {
  margin-bottom: 20px;
  text-align: center; /* Center the text */
}

.date-box p {
  font-size: 18px;
  color: #555;
  margin: 0;
}

.quote-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  color: #333;
}

/* Existing styles */

.image-container {
  margin-top: 20px;
  text-align: center; /* Center the image horizontally */
}

.image-container img {
  width: 100%;
  max-width: 400px; /* Limit the maximum width of the image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
